.modal-backdrop.show {
  z-index: 0 !important;
}

.marvel-comics-container,
.marvel-heroes-container,
.marvel-news-container {
  max-width: 1335px;
  margin: auto;
}

.marvel-comics-list,
.marvel-heroes-list {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  row-gap: 105px;
  column-gap: 65px;
}

.marvel-comics-item,
.marvel-hero-item {
  width: 100%;
  max-width: 285px;
}

.marvel-comics-item-img,
.marvel-hero-item-img {
  width: 100%;
  max-width: 285px;
  height: 350px;
  object-fit: cover;
}
.marvel-hero-item-name {
  color: #fff;
  font-family: "Roboto", sans-serif;
  font-size: 35px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  display: block;
}

.marvel-hero-item a:hover {
  color: #f0141e !important;
  text-decoration: none !important;
}

.marvel-comics-item-title {
  color: #fff;
  font-family: "Roboto", sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  display: block;
  padding-top: 18px;
}

.marvel-comics-no-result,
.marvel-heroes-no-result {
  color: red;
  font-size: 20px;
}

.marvel-hero-info {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 20px;
  padding-top: 18px;
}

.marvel-hero-info p {
  color: #f0141e;
  font-family: "Roboto", sans-serif;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.modal-dialog {
  max-width: 80% !important;
  width: 100% !important;
}

.modal-body {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  gap: 20px;
  max-height: 50vh;
  overflow-y: auto;
}

.modal-content {
  background-color: #000 !important;
  border: 1px solid #fff !important;
}

.close {
  color: #fff !important;
}

.modal-title {
  color: #f0141e !important;
  font-family: "Roboto", sans-serif !important;
  font-size: 30px !important;
  font-style: normal !important;
  font-weight: 400 !important;
  line-height: normal !important;
}

.hero-thumbnail {
  width: 100%;
  flex-basis: 20%;
}

.hero-info {
  flex-basis: 80%;
}

.hero-info h3 {
  color: #f0141e !important;
  font-family: "Roboto", sans-serif !important;
  font-size: 22px !important;
  font-style: normal !important;
  font-weight: 400 !important;
  line-height: normal !important;
  padding: 0 0 15px !important;
}

.hero-info p {
  color: #fff;
  padding-bottom: 20px;
  font-size: 16px;
}

/* news */
.marvel-news-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  row-gap: 40px;
}
.marvel-news-item {
  width: 100%;
  max-width: 606px;
  display: flex;
  align-items: start;
  justify-content: space-between;
}
.marvel-news-item img {
  width: 215px;
  height: 126px;
  object-fit: cover;
}
.marvel-news-item p {
  width: 370px;
  font-size: 24px;
  font-weight: 400;
  line-height: 28.13px;
  color: #ffffff;
}

@media screen and (max-width: 1024px) {
  .modal-body {
    flex-direction: column;
  }

  .hero-thumbnail,
  .hero-info {
    flex-basis: 100%;
  }

  .hero-thumbnail {
    text-align: center;
  }

  .marvel-hero-item-name {
    font-size: 25px;
  }
}

@media screen and (max-width: 768px) {
  .marvel-comics-list,
  .marvel-heroes-list {
    row-gap: 30px;
    column-gap: 30px;
  }
}

@media screen and (max-width: 600px) {
  .marvel-news-item {
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }

  .marvel-news-item p {
    text-align: center;
  }
}
